@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html,body,.ld-dice {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ld-dice {
	position: relative;
	transition: opacity 0.3s;
}

.ld-element,.ld-mode,.ld-tense {
	opacity: 0;
}

.ld-element.ld-active,.ld-mode.ld-active,.ld-tense.ld-active {
	display: block;
	opacity: 1;
	animation: fadein 0.5s;
}

.ld-element {
	display: none;
	width: 100%;
	height: 20vh;
	font-size: 10vh;
	text-align: center;
	font-family: serif;
}

.ld-1st-element {
	margin-top: 20vh;
}

.ld-mode {
	width: 100%;
	display: none;
	height: 20vh;
	font-size: 8vh;
	font-family: sans-serif;
}

.ld-mode:before {
	position: absolute;
	content: '(nolakoa)';
	width: 100%;
	text-align: center;
	font-style: italic;
}

.le-mode.ld-active {
	display: block;
}

.ld-mode.ld-nola:before {
	content: '(nola)';
}

.ld-tense {
	width: 100%;
	height: 20vh;
	font-size: 10vmin;
	font-style: italic;
	text-align: center;
}

.ld-term {
	position: absolute;
	width: 100%;
	height: 20vh;
	text-align: center;
	font-size: 15vmin;
	font-family: serif;
	font-weight: bold;
	animation: fadein 0.3s;
}

.ld-guessing .ld-term {
	visibility: hidden;
}
